@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background: #F5F5F5;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.container p {
  font-size: 20px;
}

.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #C3ADAD;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}

.container a:after {
  content: '';
  position: absolute;
  background: #C3ADAD;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: .35s ease;
  transition: .35s ease;
}

.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: #C3ADAD;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #C3ADAD;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.welcome h1 {
  z-index: -1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #564848;
}

.welcome #spent {
  position: absolute;
  width: 215px;
  height: 32px;
  left: 102px;
  z-index: -1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;
  color: #564848;
}

.welcome #working {
  position: absolute;
  width: 215px;
  height: 32px;
  left: 102px;
  top: 500px;
  z-index: -1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;
  color: #564848;
}

#stopwatchButton {
  position: absolute;
  width: 295px;
  height: 53px;
  left: 71px;
  top: 573px;
  z-index: -1;
  background: #C3ADAD;
  border-radius: 20px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

#editTimes {
  position: absolute;
  width: 302px;
  height: 53px;
  left: 71px;
  top: 669px;
  z-index: -1;
  background: #C3ADAD;
  border-radius: 20px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
}

#arrows {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 179px;
  top: 816px;
  z-index: -1;
}

.arrowbounce a {
  text-decoration: none;
}

#cool {
  position: absolute;
  width: 88px;
  height: 23px;
  left: 163px;
  top: 760px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #564848;
  z-index: -1;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

a {
 text-decoration: none;

}
#start{
  position: absolute;
width: 84px;
height: 33px;
left: 30px;
top: 15px;
z-index: -1;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;

/* identical to box height */

text-align: center;

color: #FFFFFF;
}




.start_button{
  position: absolute;
width: 160px;
height: 64px;
left: 49px;
top: 515px;
z-index: -1;
background: #C3ADAD;
border-radius: 20px;

}

.stop_button{
  position: absolute;
  width: 160px;
  height: 64px;
  left: 221px;
  top: 515px;
  z-index: -1;
  background: #F37575;
  border-radius: 20px;
}
#show{
  position: absolute;
width: 84px;
height: 33px;
left: 30px;
top: 15px;
z-index: -1;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;

/* identical to box height */

text-align: center;

color: #FFFFFF;
}



.reset_button{
  position: absolute;
  width: 160px;
  height: 64px;
  left: 136px;
  top: 662px;
  z-index: -1;
  background: #C3ADAD;
  border-radius: 20px;
}

#reset{
  position: absolute;
  width: 84px;
  height: 33px;
  left: 30px;
  top: 15px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  z-index: -1;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
}
#circle{
  position: absolute;

left: 72px;
top: 174px;
z-index: -1;

}





.clock_time {
  position: absolute;
  z-index: -1;
height: 288px;
left: 72px;
top: 174px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 82px;
text-align: center;

color: #564848;
}






@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
/*# sourceMappingURL=home.css.map */